@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {
	font-family: 'Varela Round', sans-serif;
	background-color: #e2e7e3;
}

.form-control {
	box-shadow: none;
	font-weight: normal;
	font-size: 13px;
}

.form-control:focus {
	border-color: #33cabb;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

header {
	padding: 0 !important;
	margin-bottom: 50px;
}

.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
	color: #525252;
}

.navbar .navbar-brand b {
	font-weight: bold;
	color: #33cabb;
}

.navbar .nav li {
	position: relative;
}

.navbar .nav li a {
	color: #888;
}

.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
	color: #fff;
	background: #33cabb;
	padding-top: 8px;
	padding-bottom: 6px;
	vertical-align: middle;
	border: none;
}

.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {
	color: #fff;
	outline: none;
	background: #31bfb1;
}

.navbar .navbar-right li:first-child a {
	padding-right: 30px;
}

.navbar .nav-item i {
	font-size: 18px;
}

.navbar .nav-item:hover {
	font-weight: bold;
	color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #d9d9d9;

}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
	background: transparent !important;
}
.remember-checkbox label{
	margin-right: 10px;
}
.custom-file {
	margin-bottom: 20px;
}

.post {
	margin-left: 40px;
	border-radius: 8px;
}
.bd-highlight:first-child {
	margin-left: 0;
}
.card-post-image {
	border: 1px solid rgba(203, 210, 200, 0.71);
	padding: 30px;
}

.card-post-image img {
	border-radius: 5px;
}
.show-post {
	margin: 0 auto;
}

.show-post .post-image {
	padding: 0;
}
.show-post .post-image img {
	width: 100%;
	height: 100%;
	border-radius:6px;
}
.post-title {
	word-wrap: break-word;
}

.post-desc {
	border: 1px solid #cbd2c8;
}
.reset-form {
	display: flex;

}

.card-title {
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}
.card-text {
	word-wrap: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
	max-height: 20px;
}

.post-title{
	text-transform: capitalize;
}

.resend-activate-email a {
	text-decoration: none;
}